<h1>Template Driven Forms</h1>
<div class="container">
    <form #userform="ngForm">  <!--ngForm directives export itself as string ngForm by assigning it to template reference variable -->
        <!--this gives value of form control that is given by-->
        <!-- {{userform.value |json}} -->  <!--Angular Forms Value   -->
        <hr>
        <!--{{userDetails |json}}-->     <!--user model value from class to template-->   
         
        <div class="form-group">
            <label>Name</label>
            <input type="text" required #name class="form-control" name="Name"[(ngModel)]="userDetails.name"/>    <!--to recognize form-control by angular use ngModel along with name attribute-->
                         <!--required -->               <!--taking reference variable to input element-->
                <!--we can track form controls state and can apply appropriate classes to that-->
        {{name.className}} <!--this will give the class names associated with this input element--> 
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="Email" [(ngModel)]="userDetails.email"/>
    </div>
    <div class="form-group">
        <label>phone.no</label>
        <input type="text" class="form-control" name="phone.no" [(ngModel)]="userDetails.phoneno"/>
    </div>
    <br>
    <button type="button" class="btn btn-primary">Submit</button>
    </form>
</div>